@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: itim;
}
.main_home{
    background-color: #D1C7F0;

}
.main_top {
    background-image: url(../../assets/imagens/Fundo_ROXO.png);
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:880px) {

    .main_top {
        height: fit-content;
        width: 100%;
    }
}