@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

/* -------------------------------- */
  /* Slide */
  /* -------------------------------- */
  
  .slide_show {
    display: flex;

    margin: 8vh;
    
  }
  
  .Text-slide {
    background-color: var(--button-color-transparent) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10vh;
    width: 60vh;
    gap: 10vh;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
  }
  .Text-slide h1{
    font-size: 5vh;
    
  }
  
  .Textinho {
    font-size: 22px;
    font-weight: 700; /*grossura do texto*/
   /* line-height: 43px; espaço entre linhas*/
   text-align: justify;
  }
  
  .btn {
    border: 3px solid #fff  !important;
    font-size: 25px !important;
    transition: 0.5s;
    display: inline-block;
    margin: 0 4vh;
    width: 70%;
  }
  
  .btn:hover {
    border:  solid #00B2CA;
    color: #00B2CA;
    color: #fff ;
    transition: 0.5s;
    transform: scale(1.2);
  }

/* ---------------
    PARTE-2
--------------- */

.Title_Servico_LangPG {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Title_Servico_LangPG h1 {
    font-size: 50px;
}

.Title_Servico_LangPG p {
    font-size: 25px;
}

.Servico p {
color: #AFAFAF;
}

.Servico_Card_LangPG img {
    width: 10vh;
}

.Servico_Card_LangPG {
    display: flex;
    flex-direction: column;
    width: 550px;
}
.Servico_Card_LangPG  p {
    margin-left: 65px;
    font-size: 25px; 
}

.Title_icon_LandPG {
    display: flex;
    align-items: center;
}

.Servico_quadros_LangPG {
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px
}

.BannerAPP_LangPG {
margin-top: 20vh;
margin-bottom: 5vh;
    
}

.BannerAPP_LangPG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/* ---------------
    Linhas
--------------- */

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 100px 20px 100px;

  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    height: 2px;
    background: #4E148C;
  }
  
  .divider-text {
    margin: 0 10px;
    color: #4E148C;
    font-size: 20px;
  }

/* ---------------
    PARTE-3
--------------- */

.Container_Grafico_landingPG {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .Text_graf_LandPG {
    display: flex;
    align-items: center;
    background-color: #9FDFFC;
    width: 400px;
    height: 100px;
    justify-content: center;
    border-radius:  20px;
    box-shadow: black;
  }

  .Text_graf_LandPG h1 {
    font-family: Kavoon;
    color: #4E148C;
  }

  .Text_graf_LandPG img {
    width: 50px;
  }

