@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


/* -------------------------------- */
  /* Slide */
  /* -------------------------------- */
  
  .Container_slide_show {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .slide_show {
    display: flex;
    width: 80%;
    align-items: center;
    
  }
  
  .Text-slide h1 {
    font-size: 5vh;
    
  }

/* ---------------
    PARTE-2
--------------- */

.Title_Servico_LangPG {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Title_Servico_LangPG h1 {
    font-size: 50px;
}

.Title_Servico_LangPG p {
    font-size: 25px;
}

.Servico p {
color: #AFAFAF;
}

.Servico_Card_LangPG img {
    width: 10vh;
}

.Servico_Card_LangPG {
    display: flex;
    flex-direction: column;
    width: 550px;
}
.Servico_Card_LangPG  p {
    margin-left: 65px;
    font-size: 25px; 
}

.Title_icon_LandPG {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Servico_quadros_LangPG {
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px
}

.BannerAPP_LangPG {
margin-top: 20vh;
margin-bottom: 5vh;
    
}

.BannerAPP_LangPG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/* ---------------
    Linhas
--------------- */

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 100px 20px 100px;

  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    height: 2px;
    background: #4E148C;
  }
  
  .divider-text {
    margin: 0 10px;
    color: #4E148C;
    font-size: 20px;
  }

/* ---------------
    PARTE-3
--------------- */

.Container_Grafico_landingPG {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .Text_graf_LandPG {
    display: flex;
    align-items: center;
    background-color: #9FDFFC;
    width: 400px;
    height: 100px;
    justify-content: center;
    border-radius:  20px;
    margin: 50px;
    box-shadow: 2vh 2vh 1px 0px rgba(0, 0, 0, 0.326);
    position: relative;
    gap: 15px;
  }

  .Text_graf_LandPG h1 {
    font-family: Kavoon;
    color: #4E148C;
  }

  .Text_graf_LandPG img {
    width: 50px;
  }

  .Grafico_landingPG {
    display: flex;
    justify-content: center;
    background-color: #858AE3;
    width: max-content;
    padding: 50px;
    margin-top: -65px;
  }

  .Grafico_landingPG img {
    width: 90%;
  }
  