/* ---------------
    PARTE-1
--------------- */

.Banner_LandPG {
    display: flex;
    justify-content: end;
}

/* ---------------
    PARTE-2
--------------- */

.Card {
    background-color: #4E148C;
    width: 400px;
    height: 300px;
    padding: 20px;
}

.Card img {
    width: 10vh;
}

.Card h1 {
    color: white;
    font-size: 45px;
}

.Title_icon_LandPG {
    display: flex;
    align-items: center;
}

.Card p {
    color: white;
    font-size: 25px;
}

.Cards {
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
}

/* ---------------
    PARTE-3
--------------- */

.Title_Servico_LangPG {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Servico p {
color: #AFAFAF;
}

.Servico_Card_LangPG img {
    width: 10vh;
}

