* {
    padding: 0;
    margin: 0;
}
.background {
    background-color: #9FDFFC;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Logo{
    width: 400px;
}

/* ========================== */
.form{
    height: 550px;
    width: 450px;
    background-color: black;
}

