.main_perfil {
    background-color: #DBF4FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container_perfil {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.url_img_perfil {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: solid black 0.1px;
}

.container_name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9FDFFC;
    width: 110%;
    border-radius: 0px 10px 10px 20px;
}
.itens_perfil{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.itens_perfil hr{
    opacity: 50%;
    width: 100%;
}
.span_perfil{
    color: #858AE3;
}

.container_name_escola{
    width: 80%;
    height: 50px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: solid black 0.1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.font_escola{
    font-size: 40px;
}
.title_perfil_escola{
    display: flex;
    flex-direction: row;
}

@media (max-width:900px) {
    .container_name {
        width: 100%;
    }

} 

@media (max-width:830px) {
    
    .container_perfil {
        flex-direction: column;
        height: 100%;
    }
    .container_perfil h1 {
        font-size: 24px;
        word-wrap: break-word;
    }

    .url_img_perfil {
        width: 180px;
        height: 180px;
    }

    .container_name {
        width: 100%;
    }

    .container_name_escola {
        width: fit-content;
    }

    .container_name_escola h1 {
        font-size: 24px;
        word-wrap: break-word;
    }
} 