.buttons-filtro_cardapio {
    text-align: center;
    padding: 20px;
  }
  
  .buttons-container {
    margin: 20px;
  }
  
  .day-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c6caff;
    color: black;
    border: solid black;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.4s;
  }
  .day-button:hover {
    background-color: white; /* Cor ao passar o mouse */
}
  
  .day-button.active {
    background-color: white;
  }
  