/* src/Gallery.css */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    /* background-color: black; */
    width: 80%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: #613FC1;
    width: 88%;
}
.title h1{
    font-size: 38px;
}
.title-image{
    width: 57px;
    
}

.gallery-item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 270px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #613FC1;
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-item-overlay {
    opacity: 50%;
}

@media (max-width:880px) {

    .gallery {
        grid-template-columns: repeat(1, 3fr);
    }
}