@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.Navbar{
    width:100%;
    height: 130px;
    background-color: #858ae3;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: itim;
}
.Logo_Header{
    width: 420px;
}
.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-right: 15px;
}

.img-perfil{
    width: 90px;
    height: 90px;
}

.user{
    font-size: 24px;
}
.subUser{
    font-size: 16px;
}
.porta{
    width: 70px;
}

@media (max-width:900px) {

    .Content_Logo_Header {
        align-items: center;
        width: max-content;
    }

    .Logo_Header {
        width: 300px;
        
    }

    .img-perfil {
        width: 45px;
        height: 45px;
    }

    .user{
        font-size: 20px;
    }
    .subUser{
        font-size: 14px;
    }
    .porta{
        width: 45px;
    }

    .Navbar {
        flex-direction: column;
        height: 120px;
        padding-bottom: 30px;
        
    }
}