:root {
    --button-color: #858AE3;
    --white: #fff;
  }

.carousel {
    display: flex;
    justify-content: center;
  }

.carousel-image {
    width: 100%; /* Ajusta a largura das imagens ao tamanho do contêiner */
    height: auto; /* Mantém a proporção das imagens */
    object-fit: cover; /* Opcional: ajusta como a imagem deve ser redimensionada para caber no contêiner */
    border-radius: 5px;
  }

.carousel .thumb.selected, .carousel .thumb:hover{
    border: 3px solid #858AE3 !important;
    border-radius: 5px;
    transform: scale(1.2);
    
}

.thumbs {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    padding: 10px;
}

/* Slide.css */

.area_para_clicar {
  display: flex;
  position: fixed;
  width: 90%;
  height: 90%;
  z-index: 1;
  margin-left: 40px;
}

@media (max-width:860px) {
  .area_para_clicar {
    width: 80%;
    height: 90%;
    margin-left: 60px;
  }

}

@media (max-width:600px) {
  .area_para_clicar {
    width: 78%;
    height: 85%;
    margin-left: 50px;
  }

}
@media (max-width:520px) {
  .area_para_clicar {
    width: 74%;
    height: 80%;
    margin-left: 40px;
  }

}