@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


footer {
    width: 100%;
    font-family: itim;
    background-color: #858AE3; 
    
}

/* ----------------- */
/* Container_1 */
/* ----------------- */

.Title_Footer_1 {
    color: white;
    font-size: 24px;
}

.Phone_Number img {
    width: 6vh;
}

.Phone_Number a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.Container_Footer_1 {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 28px;
}

/* ----------------- */
/* Container_2 */
/* ----------------- */

.Block_Footer_1 {
    display: flex;
    gap: 50px;
}

.Container_Footer_2 {
    display: flex;
    justify-content: space-between;
    background-color: #613FC1;
    padding-left: 35px;
    padding-right: 28px;
}

/* ----------------- */
/* Part_1 */
/* ----------------- */

.Title_Footer_2 {
    color: white;
    font-size: 30px;
}

.Redes_Footer img {
    width: 7vh;
}

.Block_Footer_2 {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
}

/* ----------------- */
/* Part_2 */
/* ----------------- */

.Title_Footer_3 {
    color: white;
    font-size: 30px;
}

.Pages_Footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Pages_Footer a:hover {
    color: black;
}

.Pages_Footer {
    list-style: none;
    padding: 0;
}

.Container_Pages_Footer {
    display: flex;
    width: max-content;
    gap: 30px;
}

.Block_Footer_3 {
    display: flex;
    flex-direction: column;
    width: max-content;
}

/* ----------------- */
/* Part_3 */
/* ----------------- */

.Logo_Footer img {
    width: 20vh;
}

/* ----------------- */
/* Container_3 */
/* ----------------- */

.Title_Footer_4 {
    /* color: white; */
    font-size: 20px;
}

.Container_Footer_3 {
    display: flex;
    justify-content: center;
}