@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: itim;
}
.main{
    
}
.main_top {
    background-image: url(../../assets/imagens/Fundo_ROXO.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
.main_low{
    background-image: url(../../assets/imagens/Fundo_roxo_inverso.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 400px;
}